# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\c++\Cplus\2115207_LAB6\Lab06_D_Bai3 codebase based on best match to current usage at 11/30/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

